@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&family=Syne+Tactile&display=swap');
h4{
    color:red;
    background-color:blue;
    text-align:center;
    max-width: 150px;
    height:125px;
    font-size:50px;
    font-family: 'Syne Tactile', cursive;
    text-decoration:underline;
}